.menubar-pc a:nth-child(3),
.menubar-mobile a:nth-child(3) {
  color: #f84747;
}


/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: seashell;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Ensure elements stack vertically */
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

/* Header, Main, and Footer should stack vertically */
header, main, footer {
    width: 100%;
}

/* Flex layout for main container */
.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px;
}

/* Navigation Menu */
.menubar-pc {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.header-container {
    background-color: #25292d;
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.menubar-pc a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menubar-pc a:hover {
    text-decoration: underline;
}


/* Form Labels and Inputs */
form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form input:focus, form select:focus {
    border-color: #007bff;
    outline: none;
}

/* Submit Button */
.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0056b3;
}


/* -------FOOTER------- */
.footer-container {
    background-color: #25292d;
    padding: 30px 0;
    width: 1500px;
  }
  
  .footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: var(--content-width);
    margin: auto;
    text-align: center;
  }
  
  .footer-item {
    padding: 10px;
  }
  
  .footer-title {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  
  .footer-item-content {
    color: #97999b;
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    line-height: 26px;
  }
  
  .footer-item a {
    color: #97999b;
  }
  
  #icon-box a {
    font-size: 20px;
    padding: 0 12px;
  }
  
  .footer-item a:hover {
    color: white;
  }
  
  .copyright {
    text-align: center;
    background-color: #25292d;
  }

