// Filename - views/home.ejs

<h1>This is home page</h1>

<% if (!isAuthenticated) { %>
    <li><a href="/register">Sign up!!</a></li>
    <li><a href="/login">Login</a></li>
    <% } else { %> 
    <h1>Success!</h1>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/menu">Menu</a></li>
    <% } %>