<!-- // Filename - views/home.ejs

<h1>This is home page</h1>

<% if (!isAuthenticated) { %>
    <li><a href="/register">Sign up!!</a></li>
    <li><a href="/login">Login</a></li>
    <% } else { %> 
    <h1>Success!</h1>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/menu">Menu</a></li>
    <% } %> -->

    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/CSS/font-awesome.min.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">  -->
      <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet"
      />
      <link
        rel="icon"
        href="https://ld-wp.template-help.com/wordpress_prod-22160/v1/wp-content/uploads/2019/02/cropped-favicon-32x32.png"
        sizes="32x32"
      />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" 
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="/CSS/base.css" />
      <link rel="stylesheet" href="/CSS/home.css" />
      <title>home</title>
    
    </head>
    <body>
        <!---------NAVBAR---------->
        <section class="header-container">
            <div class="header-container-flex-desktop">
              <div class="Logo-desktop">
                <a href="/home"><img src="./images/logo.png" alt="" /></a>
              </div>
              <div class="menubar-pc">
                <a class="item" href="/home"><span>Home</span></a>

                <% if (!isAuthenticated) { %>
                  <a class="item" href="/login"><span>Login</span></a>
                  <a class="item" href="/register"><span>Register</span></a>
                <% } else { %>
                  <% if (currentUser.type === 'staff') { %>
                    <a href="/order/staff" class="item">View Pending Orders</a>
                <% } %>
                  <a class="item" href="/menu"><span>Menu</span></a>
                  <a class="item" href="/profile"><span>Profile</span></a>
                  <a class="item" href="/logout"><span>Log out</span></a>
                  <a class="item" href="/order/pending"><span>Pending</span></a>
                <% } %>
                <a class="item" href="/GPS"><span>GPS</span></a>
              </div>
          </section>
    
          <div class="slideshow">
            <!-- slide0 -->
            <div class="bg-header fade bg1">
              <!-- <img src="./images/BG.png" alt=""> -->
              <ul class="menu-container">
                <h5>UTR</h5>
                <p>
                  Welcome to UTR
                </p>
                <% if (!isAuthenticated) { %>
                <div class="btn_menu">
                  <a id="viewmenu" href="/login" target="_blank"
                    >LOGIN</a
                  >
                </div>
                <% } %>
              </ul>
            </div>
            <!-- slide1 -->
            <div class="bg-header fade bg2">
              <!-- <img src="./images/bg2.png" alt=""> -->
              <ul class="menu-container">
                <h5>UTR Gas Station</h5>
                <% if (!isAuthenticated) { %>
                  <p>
                    Log in to book your nearest gas station availability 
                  </p>
                <div class="btn_menu">
                  <a id="viewmenu" href="/login" target="_blank"
                    >LOGIN</a
                  >
                </div>
                <% } %>
              </ul>
            </div>
            <!-- slide2 -->
            <div class="bg-header fade bg3">
              <!-- <img src="./images/bg3.png" alt=""> -->
              <ul class="menu-container">
                <h5>UTR Grocery Store</h5>
                <% if (!isAuthenticated) { %>
                  <p> 
                    Login to pump a reservation
                  </p>
                <div class="btn_menu">
                  <a id="viewmenu" href="/login" target="_blank"
                    >LOGIN</a
                  >
                </div>
                <% } %>
              </ul>
            </div>
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
          </div>

          <!---------FOOTER---------->
        <section class="footer-container">
          <div class="footer-content">
            <div class="footer-item">
              <div class="footer-title">Address</div>
              <div class="footer-item-content">
                <br /> Mawson Lakes Blvd, Mawson Lakes SA 5095
              </div>
            </div>
            <div class="footer-item">
              <div class="footer-title">Follow us</div>
              <div class="footer-item-content" id="icon-box">
                <a href="https://www.facebook.com" target="_blank"
                  ><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.twitter.com" target="_blank"
                  ><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.google.com" target="_blank"
                  ><i class="fa-brands fa-google"></i></a>
                <a href="https://www.linkedin.com" target="_blank"
                  ><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.pinterest.com" target="_blank"
                  ><i class="fa-brands fa-pinterest"></i></a>
              </div>
            </div>
            <div class="footer-item">
              <div class="footer-title">Contact us</div>
              <div class="footer-item-content">
                <a href="callto:+1 800 603 6035">+61 47 369 6999</a><br />
                <a href="callto:+1 800 603 6035">+61 47 369 6969</a><br />
                <a href="mailto:mail@demolink.org">UTRmail@demolink.org</a>
              </div>
            </div>
          </div>
        </section>
        <div class="copyright">
          <p>Copyright © 2019. All Rights Reserved Theme design by Zemez</p>
        </div>
    </body>
      <script src="/JS/home.js"></script>
    </html>

<!-- <script>

    function distance(lon1, lat1, lon2, lat2) {
  var R = 6371; // Radius of the earth in km
  var dLat = (lat2-lat1).toRad();  // Javascript functions in radians
  var dLon = (lon2-lon1).toRad(); 
  var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
          Math.cos(lat1.toRad()) * Math.cos(lat2.toRad()) * 
          Math.sin(dLon/2) * Math.sin(dLon/2); 
  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
  var d = R * c; // Distance in km
  return d;
}

/** Converts numeric degrees to radians */
if (typeof(Number.prototype.toRad) === "undefined") {
  Number.prototype.toRad = function() {
    return this * Math.PI / 180;
  }
}

window.navigator.geolocation.getCurrentPosition(function(pos) {
  console.log(pos); 
  console.log(
    distance(pos.coords.longitude, pos.coords.latitude, 138.598730, -34.915410)
  ); 
});
</script> -->