<a href="/home">Home</a>

<p>First Name: <%= currentUser.firstName %></p>
<p>Last Name: <%= currentUser.lastName %></p>
<p>Date of Birth: <%= currentUser.dob.toDateString() %></p>
<p>Preferred Fuel: <%= currentUser.prefFuel %></p>