// Filename - views/register.ejs

<h1> Sign up form </h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="text" name="firstName" placeholder="First Name">
    <input type="text" name="lastName" placeholder="Last Name">
    <label for="dob">Date of Birth:</label>
    <input type="date" name="dob" required> <!-- Date input for dob -->
    <select name="prefFuel">
        <option value="Petrol">Petrol</option>
        <option value="Diesel">Diesel</option>
    </select>
    <button type="submit">Register</button>
</form>
<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>